.main {
  width: 100%;
  padding-top: 70px;
  padding-bottom: 130px;
}

.main-container {
  width: 1620px;
  margin: 0 auto;
}

@media (max-width: 1920px) {
  .main-container {
    width: 1520px;
  }
}

@media (max-width: 1700px) {
  .main-container {
    width: 100%;
  }
}

@media (max-width: 1291px) {
  .main {
    padding-top: 55px;
  }
}

@media (max-width: 991px) {
  .main {
    padding-bottom: 50px;
  }
}